
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');



*, *::before, *::after{
    box-sizing: border-box;
}

body {
    padding:0;
    margin: 0;
    background-color: rgb(177, 169, 169);
    color: rgb(48, 47, 47);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
  }

.footer-img{
height: 1em;
width: auto;
}

.logo-img{
    height: 2em;
    width: auto;
    margin-top: 1em;
}

.main-nav ul, .footer-nav ul{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
}

.main-footer{
    background-color: rgb(41, 41, 41);
    color: rgb(170, 170, 170);
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    opacity: 0.7;
}

.footer-nav{
    display: flex;
    justify-content: center;
}

.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-weight: 400;
}

.footer-nav a{
    color:rgb(161, 161, 161);
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5rem;
    z-index: 100;
}


.footer-nav span{
    font-size: 0.9em;
    padding: 0 1rem;
}

.arrow{
    height: 7vw;
    width: 6vw;
    opacity: 0.4;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow.prev{
    border-radius: 0 5px 5px 0;
    padding:  1em 1em 1em 0.2em ;
}

.arrow.next{
    border-radius:  5px 0 0 5px ;
    padding:  1em 0.2em 1em 1em ;
}

.arrow-svg{
    height: 100%;
    width: 100%;
}

.arrow-svg-2{
transform: rotate(180deg);
}

.main-nav a:hover{
    color:rgb(91, 60, 104);
}

.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.info-section{
    flex-grow: 1;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.slide {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    display: none;
    }

.slide.visible{
    display: block;
}

  .blur-box{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /*box-shadow: inset 0px 120px 50px -30px rgb(255, 255, 255, 0.6), inset 0px -130px 50px -30px rgb(255, 255, 255, 0.3);*/
    box-shadow: inset 0px 110px 50px -30px rgb(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow:hover{
    cursor: pointer;
    opacity: 0.6;
}

.prev, .next{
    cursor: pointer;
}

.link-button{
    display:inline-block;
}

  .slide::before {
    content: '';
    height: 120%;
    width: 120%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: -20%;
    animation: Ugoku 30s ease-in-out infinite, fadein 2s; 
  }

  .background-image-1::before{
    background-image: url(images/design.jpg);
  }

  .background-image-2::before{
    background-image: url(images/music.jpg);
  }

  .background-image-3::before{
    background-image: url(images/games.jpg);
  }

  .background-image-4::before{
    background-image: url(images/project.jpg);
  }

  .title{
    font-size: 3.5em;
    font-weight: 800;
    color:rgb(61, 61, 61);
}

.subtitle{
    font-size: 1.3em;
    font-weight: light;
    color:rgb(53, 52, 52);
}

.info-card{
    width: 45%;
    min-width: 500px;
    height: auto;
    margin-top: 4rem;
    margin-left: 5rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    z-index: 1;
}

.welcome-button{
    background-color: transparent;
    border: 2px solid #4e4d4d; 
    color: #4e4d4d;
    font-family: 2px;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 12px;
    padding: 0.2em;
    margin-top: 0.6em;
    outline:none;
}

.welcome-button:hover{
    cursor:pointer;
    border: 2px solid #888686; 
    color: #888686;
}

.tooltip{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 2.5rem;
    display: none;
    border-radius: 5px;
    width: 15rem;
    padding: 1em;
}

.tooltip ul li{
    margin-bottom: 0.5em;
}

.link-menu.pink:hover{
    color:rgb(207, 134, 152);
    }

.link-menu.blue:hover{
        color:rgb(80, 107, 146);
        }

.link-menu.orange:hover{
            color:rgb(180, 129, 100);
            }

.tooltip ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip.visible{
    display:block;
}

.tooltip-menu{
    position: relative;
}



  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes Ugoku {
    0% { transform: translate(0px); }
    50%   { transform: translate(10%); }
    100%   { transform: translate(0px); }
}



